@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0D0D0D;
  --foreground: #fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Michroma", serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
